@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 60px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}

.fa-whatsapp:hover {
    content: "\f232";
    color: #fff
}

.fa-whatsapp::before {
    content: "\f232";
    color: #fff
}

@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ff7e4b #ffffff;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ff7e4b;
    border: 1px solid #ffffff;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #ff7e4b;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #ff7e4b;
  }


/* navbar top */
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

/* @media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
} */

.logo h3{
    font-size: 2rem;
    font-weight: 700;
}

.icons{
    text-align: center;
}

.icons i{
    color: #fff;
    cursor: pointer;
}

.icons i img{
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width:491px){
    .icons i img{
        width: 22px;
    }
}
/* navbar top */

/* main content */
.main-content{
    width: 100%;
    background-size: cover;
    background-position: 70%;
}

/* navbar */
#navbar-color{
    background-color: #ff7e4b;
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color: black;
}
/* navbar */

/* footer */

#footer{
    width: 100%;
    background-color: black;
    margin-top: 0px;
}

#footer h1{
    color: white;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

#footer p{
    color: white;
    font-weight: 600;
}

.container .icons i{
    color: #000000;
}

.container h3{
    font-size: 2.3rem;
    font-weight: 700;
}

.container {
    max-width: 1100px;
}

.container h1{
    font-size: 3rem;
    font-weight: 700;
}

.card h5{
    font-weight: 700;
}

.icons-footer i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.icons-footer{
    text-align: center;
}

.copyright{
    color: white;
    margin-top: 10px;
}

.credite{
    color: white;
    padding-bottom: 10px;
}

.credite a{
    color: #ff7e4b;
    font-weight: 800;
}

.credite a:hover{
    color: #ff7e4b;
    font-weight: 800;
}

/* footer */

@media (max-width: 800px){

    /* FAQ */

    .sectionFaq{
        width: 100%;
        margin-bottom: 150px;
    }

    .faq{
        max-width: 250px;
        min-width: 250px;
    }

    .title{
        font-size: 1.7rem;
    }

    .question h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    .answer p {
        padding-top: 1rem;
        line-height: 1.6;
        font-size: 1rem;
    }

    /* FOOTER */

    #footer h1{
        font-size: 1.5rem;
    }

    /* TITLES */

    .container h1 {
        font-size: 1.7rem;
    }

    .title-secondary {
        font-size: 1rem;
    }

    .container h3 {
        font-size: 1.3rem;
        padding-right: 50px;
    }

    .social-link i img {
        width: 180px;
        margin-left: -55px;
    }

    .content {
        margin-top: 150px;
        margin-left: 10px;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content h2 {
        font-size: 1.3rem;
    }

    .content p {
        font-size: 1rem;
    }

    /* CAROUSEL */

    .carousel h2{
        font-size: 1.7rem
    }

    .banner-metodoconstructivo {
        height: 20vh;
    }

}

.footer {
	width: 100%;
	height: auto;
	background: linear-gradient(rgba(29, 30, 32, 0.75), rgba(18, 25, 43, 0.75)),
    url(/image/local.jpg);
	padding: 40px 0;
}

.footer-inner {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 24px;
}

.map iframe {
	width: 100%;
	height: 560px;
	border: none;
}

.contact-text {
	width: 100%;
	height: auto;
}

.contact-text h1 {
	font-size: 36px;
	font-weight: 800;
	color: #000;
    text-transform: uppercase;
	margin: 0px;
}

.contact-text h2 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	margin: 0px;
	padding-top: 20px;
}

.contact-text h2 i {
	color: #ff7e4b;
}

.contact-text p {
	font-size: 14px;
	color: #000;
	margin: 0px;
	padding-top: 5px;
	padding-left: 24px;
	font-weight: 500;
}

.footer-mein {
	width: 100%;
	height: auto;
	background: #07d5a4;
	padding: 30px 0;
}

.footer-soical {
	width: 100%;
	height: auto;
}

.footer-soical h3 {
	font-size: 36px;
	font-weight: 500;
	color: #fff;
	margin: 0px;
	text-align: left;
}

.footer-soical h3 span {
	font-size: 14px;
	font-weight: 200;
}

.social-innar {
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;
}

.social-innar ul {
	margin: 0px;
	padding: 0px;
}

.social-innar ul li {
	float: left;
	margin: auto;
	list-style: none;
}

.social-innar ul li a {
	font-size: 14px;
	color: #fff;
	padding: 13px 20px;
	background: #000;
}

.form {
	width: 100%;
	height: auto;
	margin: auto;
}

.form-style1 {
	width: 300px;
	height: 44px;
	padding-left: 10px;
	border: 1px solid #000000;
	margin-top: -7px;
}

.form-submit1 {
	width: 51px;
	height: 43px;
	background: url(../images/submit.jpg);
	border: none;
	margin-top: -7px;
}

.footer-bottom {
	width: 100%;
	height: auto;
	margin: auto;
	background: #272727;
}

.footer-bottom p {
	font-size: 14px;
	color: #fff;
	font-weight: 100;
	margin: 0px;
	padding: 8.5px 0;
	text-decoration: none;
}

.footer-bottom p span {
	font-size: 14px;
}

.footer-bottom p a {
	color: #fff;
	text-decoration: none;
}


@media (max-width: 1025px) { 
    .contact-text h1 {
        font-size: 30px;
        padding-top: 0px;
    }

    .contact-text h2 {
        font-size: 18px;
        padding-top: 10px;
    }

    .footer-inner {
        padding-right: 100px;
    }
}

@media (max-width: 767px) { 
    .footer-inner {
        padding-right: 25px;
    }
}

@media only screen and (min-width:360px) and (max-width:479px) {
    .map iframe {
        height: 250px;
    }

    .contact-text {
        padding: 15px;
    }

    .contact-text h1 {
        font-size: 24px;
        padding-top: 0px;
    }

    .contact-text h2 {
        font-size: 18px;
        padding-top: 10px;
    }

    .contact-text p {
        font-size: 12px;
    }

    .footer-soical h3 {
        font-size: 18px;
    }

    .footer-soical h3 span {
        font-size: 12px;
    }

    .social-innar {
        text-align: center;
    }

    .social-innar ul li {
        float: none;
        display: inline-block;
    }

    .social-innar ul li a {
        font-size: 10px;
        padding: 5px 10px;
    }

    .form-style1 {
        width: 260px;
        padding-left: 10px;
        margin-top: 0px;
        font-size: 12px;
    }

    .footer-bottom {
        height: 60px;
    }

    .footer-bottom p {
        font-size: 12px;
        text-align: center;
    }

    .pull-right {
        float: none;
    }

}